<div>
    <table>
        <tr>
            <td>
                <h1>Spotify</h1>
            </td>
            <td class="right" *ngIf="!isAuthenticated">
                <button mat-raised-button routerLink="/authenticate"> Authenticate</button>
            </td>
            <td class="padding">
            </td>
            <td class="right" *ngIf="isAuthenticated">
                <button mat-raised-button routerLink="/search">Search</button>
            </td>
        </tr>

        <tr *ngIf="isAuthenticated" >
            <td></td>
            <td class="padding"></td>
            
            <td class="right">
                <button mat-raised-button (click)="logOut()"> Log Out</button>
            </td>
            
        </tr>
    </table>
    <hr>
</div>
