div{
    margin: auto;
    padding: 5px;
    background-color: deepskyblue;
}
a{
    color:purple;
    font-weight: bold;
}

mat-expansion-panel{
    border: 3px solid black;
    width: max-content;
    margin-left: 20px;
    margin-bottom: 5px;
}

h4, h3{
    font-weight: bold;
}