<h3>Authenticate</h3>

<div>
    <label for="client_id">client_id: </label>
    <input #client_id id="client_id">
    <br> <br>

    <label for="client_secret">client_secret: </label>
    <input #client_secret id="client_secret">
    <br> <br>
    
    <button (click)="authenticate(client_id.value, client_secret.value)">Submit</button>
    <br>
    <button (click)="fetchAccessToken()">Fetch Acces Token</button>
    <br>
    <button mat-raised-button color="primary" (click)="refreshTokens()">Refresh Tokens</button>
    <br>
    <button (click)="getUser()">Get User</button>
</div>

