<h3>Authenticate</h3>

<div>
    <label for="client_id">client_id: </label>
    <input #client_id id="client_id">
    <br> <br>

    <label for="client_secret">client_secret: </label>
    <input #client_secret id="client_secret">
    <br> <br>
    
    <button (click)="authenticate(client_id.value, client_secret.value)">Submit</button>
    <br>
    <button (click)="fetchAccessToken()">Fetch Acces Token</button>
    <br>
    <button mat-raised-button color="primary" (click)="refreshTokens()">Refresh Tokens</button>
    <br>
    <button (click)="getUser()">Get User</button>
</div>
<br>
<div *ngIf='user'>
    <h3>User: {{user.display_name}}</h3>
    <p>Country: {{user.country}}</p>
    <p>Id: {{user.id}}</p>

    <button (click)="getCurrentUserPlaylists()">Get Playlists for this user</button>
</div>
<br>
<div *ngIf="playlists && user" > 
    <h3>Playlists of the user: {{user.display_name!}}</h3>
    <li *ngFor="let playlist of playlists"> {{playlist.name}}
        <p>{{playlist.description}}</p>
    </li>
</div>
