
<div>
    <h3>Search for stuff</h3>
    <input matInput type="text" id="searchStr" [(ngModel)]="searchStr" (keyup)="search()" placeholder="Search....">
    
    <mat-checkbox *ngFor="let item of checkBoxDataList" [(ngModel)]="item.isChecked">
        {{item.label}}
    </mat-checkbox>
      
</div>



<hr>
<div *ngIf="albums && checkBoxDataList[0].isChecked">
    <h3>Albums</h3>
    <li *ngFor="let album of albums"> {{album.name}}
        
    </li>
    <hr>
</div>

<div *ngIf="tracks && checkBoxDataList[1].isChecked">
    <h3>Tracks</h3>
    <li *ngFor="let track of tracks"> {{track.name}}
        
    </li>
    <hr>
</div>

<div *ngIf="playlists && checkBoxDataList[2].isChecked">
    <h3>Playlists</h3>
    <li *ngFor="let playlist of playlists"> {{playlist.name}}

    </li>
    <hr>
</div>

<div *ngIf="artists && checkBoxDataList[3].isChecked">
    <h3>Artists</h3>
    <li *ngFor="let artist of artists"> {{artist.name}}
        
    </li>
    <hr>
</div>

