
<div style="margin:auto; text-align: center;">
    
    <mat-form-field appearance="fill" style="width: 400px;">
        <mat-label>Search...</mat-label>
        <input matInput type="text" id="searchStr" [(ngModel)]="searchStr" (keyup)="search()">
    </mat-form-field>
    &nbsp;
    &nbsp;
    
    <!-- this is not correct -->
    <mat-checkbox *ngFor="let item of checkBoxDataList" [ngModel]="item.isChecked" (ngModelChange)="item.isChecked = !item.isChecked" color="primary"> 
        {{item.label}} &nbsp; &nbsp;
    </mat-checkbox>
      
</div>

<hr>
<div *ngIf="albums && checkBoxDataList[0].isChecked">
    <h3>Albums</h3>
    <li *ngFor="let album of albums"> 
        <a routerLink="/album/{{album.id}}">{{album.name}}</a>
    </li>
    <hr>
</div>

<div *ngIf="tracks && checkBoxDataList[1].isChecked">
    <h3>Tracks</h3>
    <li *ngFor="let track of tracks"> 
        <a routerLink="/track/{{track.id}}">{{track.name}}</a>
    </li>
    <hr>
</div>

<div *ngIf="playlists && checkBoxDataList[2].isChecked">
    <h3>Playlists</h3>
    <li *ngFor="let playlist of playlists"> 
        <a routerLink="/playlist/{{playlist.id}}">{{playlist.name}}</a>
    </li>
    <hr>
</div>

<div *ngIf="artists && checkBoxDataList[3].isChecked" >
    <h3>Artists</h3>
    <li *ngFor="let artist of artists"> 
        <a routerLink="/artist/{{artist.id}}">{{artist.name}}</a>
    </li>
    <hr>
</div>

