div{
    background-color: lightgreen;
    padding: 3%;
    margin: auto;
    width: 80%;
}
mat-label{
    color: black;
}

a{
    color: rgb(116, 11, 148);
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
}

hr{
    color: purple;
    background-color: purple;
    border: 2px dashed purple;
}

mat-form-field{
    width: 400px;
}

.center-text{
    text-align: center;
}